<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Express App</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <h1>Main Page</h1></a>
            <a>Demo Express App</a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>

    <input type="submit" value="Get Person" onclick="getName()">

<script type="text/javascript">
    function getName() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                alert(xhr.response);
            }
        }
        xhr.open('get', '/person', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        xhr.send();
    }
</script>

</body>
</html>


